.general-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.general-container #search-area {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-transform: translateY(800px);
          transform: translateY(800px);
  opacity: 0;
  z-index: -9;
  -webkit-transition: 1s;
  transition: 1s;
}

.general-container #search-area .disable {
  position: absolute;
  z-index: 99999;
  top: 30px;
  right: 40px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.general-container #search-area .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.general-container #search-area .container .email-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.general-container #search-area .container .email-area form {
  max-width: 634px;
  width: 634px;
  height: 48px;
  position: relative;
  margin: 0;
}

.general-container #search-area .container .email-area form input {
  width: 100%;
  height: 48px;
  border: 1px solid  #f7f7f7;
  outline: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #fff;
}

.general-container #search-area .container .email-area form button {
  position: absolute;
  right: 0;
  top: 0;
  width: 128px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  height: 48px;
  background-color: #f7f7f7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.general-container #search-area .container .email-area form button:hover {
  background-color: #fee86d;
}

.general-container #header {
  background-color: white;
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.general-container #header .custom-container .my-nav {
  background-color: white;
}

.general-container #header .custom-container .my-nav .web-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140px;
}

.general-container #header .custom-container .my-nav .web-zone span {
  margin-right: 7px;
  cursor: pointer;
}

.general-container #header .custom-container .my-nav .web-zone .search {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f7f7f7;
  font-size: 12px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.general-container #header .custom-container .my-nav .navbar-nav {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.general-container #first-slide-area {
  padding-top: 100px;
}

.general-container #first-slide-area .custom-container .first-slide {
  overflow: hidden;
}

.general-container #first-slide-area .custom-container .first-slide .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.general-container #first-slide-area .custom-container .first-slide .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 5px;
}

.general-container #first-slide-area .custom-container .first-slide .owl-nav .owl-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #f7f7f7;
  margin-right: 10px;
}

.general-container #first-slide-area .custom-container .first-slide .owl-nav .owl-prev span {
  font-size: 30px;
  line-height: 26px;
}

.general-container #first-slide-area .custom-container .first-slide .owl-nav .owl-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #f7f7f7;
}

.general-container #first-slide-area .custom-container .first-slide .owl-nav .owl-next span {
  font-size: 30px;
  line-height: 26px;
}

.general-container #first-slide-area .custom-container .first-slide .slide-item {
  position: relative;
  width: 100%;
  margin-left: 100px;
}

.general-container #first-slide-area .custom-container .first-slide .slide-item .text-area {
  position: absolute;
  left: 0;
  top: 25%;
  max-width: 389px;
  position: absolute;
  z-index: 3;
}

.general-container #first-slide-area .custom-container .first-slide .slide-item .text-area .head {
  width: 93px;
  height: 25px;
  border-radius: 50px;
  background-color: yellow;
}

.general-container #first-slide-area .custom-container .first-slide .slide-item .text-area .tittle {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
}

.general-container #first-slide-area .custom-container .first-slide .slide-item .text-area .foot {
  font-size: 13px;
  color: #6b6768;
}

.general-container #first-slide-area .custom-container .first-slide .slide-item .img-area {
  max-width: 450px;
  margin-left: 177px;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
}

.general-container #first-slide-area .custom-container .first-slide .slide-item .img-area::after {
  position: absolute;
  z-index: 2;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.3;
  -webkit-transition: 1s;
  transition: 1s;
}

.general-container #first-slide-area .custom-container .first-slide .slide-item .img-area img {
  width: 100%;
  border-radius: 50%;
}

.general-container #small-images {
  padding-top: 70px;
  padding-bottom: 50px;
}

.general-container #small-images .custom-container .row .col-12 .cat-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.general-container #small-images .custom-container .row .col-12 .cat-list li {
  list-style-type: none;
  padding: 6px;
}

.general-container #small-images .custom-container .row .col-12 .cat-list li .img-zone {
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
}

.general-container #small-images .custom-container .row .col-12 .cat-list li .img-zone::after {
  position: absolute;
  z-index: 2;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.general-container #small-images .custom-container .row .col-12 .cat-list li .img-zone img {
  width: 100%;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.general-container #small-images .custom-container .row .col-12 .cat-list li .img-zone:hover::after {
  opacity: .4;
}

.general-container #small-images .custom-container .row .col-12 .cat-list li .img-zone:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.general-container #small-images .custom-container .row .col-12 .cat-list li .card-foot {
  text-align: center;
}

.general-container #design {
  padding-top: 100px;
}

.general-container #design .custom-container .row .col-lg-4 {
  padding: 0 10px 0 10px;
  padding-bottom: 50px;
}

.general-container #design .custom-container .row .col-lg-4:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.general-container #design .custom-container .row .col-lg-4 .big-card {
  border: 1px solid #f7f7f7;
  border-radius: 20px;
}

.general-container #design .custom-container .row .col-lg-4 .big-card .img-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.general-container #design .custom-container .row .col-lg-4 .big-card .img-area .img-zone {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  overflow: hidden;
  border-radius: 50%;
}

.general-container #design .custom-container .row .col-lg-4 .big-card .img-area .img-zone img {
  max-width: 288px;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.general-container #design .custom-container .row .col-lg-4 .big-card .text-area {
  text-align: center;
}

.general-container #design .custom-container .row .col-lg-4 .big-card .text-area .b-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.general-container #design .custom-container .row .col-lg-4 .big-card .text-area .b-head .head {
  width: 93px;
  height: 25px;
  border-radius: 50px;
  background-color: yellow;
  -webkit-transition: 1s;
  transition: 1s;
}

.general-container #design .custom-container .row .col-lg-4 .big-card .text-area .b-head .head:hover {
  background-color: black;
  color: white;
}

.general-container #design .custom-container .row .col-lg-4 .big-card .text-area .tittle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: #222222;
}

.general-container #design .custom-container .row .col-lg-4 .big-card .text-area .foot {
  font-size: 13px;
  color: #6b6768;
  margin-top: 20px;
}

.general-container #great-design .custom-container .row .col-lg-7 .text-area .b-head {
  margin-top: 30px;
  margin-bottom: 20px;
}

.general-container #great-design .custom-container .row .col-lg-7 .text-area .b-head .head {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 25px;
  border-radius: 50px;
  background-color: yellow;
  -webkit-transition: 1s;
  transition: 1s;
}

.general-container #great-design .custom-container .row .col-lg-7 .text-area .b-head .head:hover {
  background-color: black;
  color: white;
}

.general-container #great-design .custom-container .row .col-lg-7 .text-area .tittle {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
  color: #222222;
  padding-bottom: 30px;
}

.general-container #great-design .custom-container .row .col-lg-7 .text-area .content {
  color: #6b6768;
  font-size: 16px;
  padding-bottom: 30px;
}

.general-container #great-design .custom-container .row .col-lg-7 .text-area .foot ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.general-container #great-design .custom-container .row .col-lg-7 .text-area .foot ul li {
  font-size: 13px;
  color: #6b6768;
}

.general-container #great-design .custom-container .row .col-lg-7 .text-area .foot ul li img {
  width: 40px;
  border-radius: 50%;
}

.general-container #great-design .custom-container .row .col-lg-7 .text-area .foot ul li .my-dot {
  font-size: 5px;
}

.general-container #great-design .custom-container .row .col-lg-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.general-container #great-design .custom-container .row .col-lg-5 .big-img-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 445px;
  border-radius: 50%;
  overflow: hidden;
}

.general-container #great-design .custom-container .row .col-lg-5 .big-img-area img {
  width: 100%;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.general-container #great-design .custom-container .row .col-lg-5:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.general-container #eight-components {
  padding-top: 100px;
}

.general-container #eight-components .custom-container .big-row .component {
  padding: 20px;
  padding-bottom: 60px;
}

.general-container #eight-components .custom-container .big-row .component .sm-row {
  border: 1px solid #f7f7f7;
  border-radius: 20px;
}

.general-container #eight-components .custom-container .big-row .component .sm-row .comp-part-left .img-area {
  max-width: 191px;
  border-radius: 50%;
  overflow: hidden;
}

.general-container #eight-components .custom-container .big-row .component .sm-row .comp-part-left .img-area img {
  width: 100%;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.general-container #eight-components .custom-container .big-row .component .sm-row .comp-part-left .img-area:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.general-container #eight-components .custom-container .big-row .component .sm-row .comp-part-right .text-area .b-head {
  margin-top: 30px;
  margin-bottom: 20px;
}

.general-container #eight-components .custom-container .big-row .component .sm-row .comp-part-right .text-area .b-head .head {
  width: 93px;
  height: 25px;
  border-radius: 50px;
  background-color: yellow;
  -webkit-transition: 1s;
  transition: 1s;
}

.general-container #eight-components .custom-container .big-row .component .sm-row .comp-part-right .text-area .b-head .head:hover {
  background-color: black;
  color: white;
}

.general-container #eight-components .custom-container .big-row .component .sm-row .comp-part-right .text-area .tittle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: #222222;
}

.general-container #eight-components .custom-container .big-row .component .sm-row .comp-part-right .text-area .foot {
  font-size: 13px;
  color: #6b6768;
  margin-top: 20px;
}

.general-container #footer {
  background-color: #000;
}

.general-container #footer .custom-container .row .footer-top {
  margin-top: 50px;
  margin-bottom: 80px;
}

.general-container #footer .custom-container .row .footer-top .cat-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.general-container #footer .custom-container .row .footer-top .cat-list li {
  list-style-type: none;
  padding: 6px;
}

.general-container #footer .custom-container .row .footer-top .cat-list li .img-zone {
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
}

.general-container #footer .custom-container .row .footer-top .cat-list li .img-zone::after {
  position: absolute;
  z-index: 2;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.general-container #footer .custom-container .row .footer-top .cat-list li .img-zone img {
  width: 100%;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.general-container #footer .custom-container .row .footer-top .cat-list li .img-zone:hover::after {
  opacity: .4;
}

.general-container #footer .custom-container .row .footer-top .cat-list li .img-zone:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.general-container #footer .custom-container .row .footer-top .cat-list li .card-foot {
  text-align: center;
}

.general-container #footer .custom-container .row .footer-bottom {
  text-align: center;
}

.general-container #footer .custom-container .row .footer-bottom .tittle {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

.general-container #footer .custom-container .row .footer-bottom .content {
  font-size: 15px;
  color: #d9d9d9;
  margin-bottom: 30px;
}

.general-container #footer .custom-container .row .footer-bottom .email-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.general-container #footer .custom-container .row .footer-bottom .email-area form {
  max-width: 634px;
  width: 634px;
  height: 48px;
  position: relative;
  margin: 0;
}

.general-container #footer .custom-container .row .footer-bottom .email-area form input {
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid rgba(34, 34, 34, 0.5);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #000;
}

.general-container #footer .custom-container .row .footer-bottom .email-area form button {
  position: absolute;
  right: 0;
  top: 0;
  width: 128px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  height: 48px;
  background-color: #fee86d;
}

.general-container #footer .custom-container .row .copy-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.general-container #footer .custom-container .row .copy-right p {
  color: #d9d9d9;
  font-size: 14px;
}

.custom-container {
  max-width: 1200px;
}

.back-black {
  background-color: black !important;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.btn-bg {
  background-color: #2b2b2b !important;
  color: white !important;
}

.arxasi-qaralacaq-elementler {
  -webkit-transition: 1s;
  transition: 1s;
}

.sm-img-dark {
  background-color: #2b2b2b !important;
}

.card-f-dark {
  color: white !important;
}

@media only screen and (max-width: 992px) {
  #first-slide-area .slide-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 !important;
  }
  #first-slide-area .slide-item .img-area {
    margin: 0 !important;
  }
}

.txt-white {
  color: #fff !important;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

li {
  list-style-type: none;
}

@media only screen and (max-width: 992px) {
  #header .web-zone {
    width: 100% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #header .web-zone i {
    margin-right: 7px !important;
  }
}

@media only screen and (max-width: 600px) {
  #eight-components .comp-part-left {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #eight-components .comp-part-right {
    text-align: center !important;
  }
  #eight-components .comp-part-right .b-head {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

.my-togl {
  background-color: white !important;
}

.my-search-area-style {
  -webkit-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
  opacity: 1 !important;
  z-index: 99999 !important;
}

.search-toggle-style {
  background-color: #2b2b2b !important;
  color: #fff !important;
}

.f-input {
  background-color: #000 !important;
  border: 1px solid #2b2b2b !important;
}

.f-btn {
  background-color: #2b2b2b !important;
}

.f-btn:hover {
  background-color: #fee86d !important;
}

.disable-toggle-style {
  background-color: #2b2b2b !important;
  color: #fff !important;
}

.nav-page .page-hover {
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 0.1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px 0.1px rgba(0, 0, 0, 0.1);
  width: 160px;
  padding: 20px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  z-index: -4;
  -webkit-transition: 1s;
  transition: 1s;
}

.nav-page .page-hover li {
  line-height: 2.3;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.nav-page:hover .page-hover {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 12;
  z-index: 99999999;
}

.page-hover-style {
  background-color: #2b2b2b !important;
  color: #fff !important;
}

@media only screen and (max-width: 600px) {
  .grid-three {
    width: calc(100%/3) !important;
  }
}

@media only screen and (min-width: 600px) {
  .grid-four {
    width: 25% !important;
  }
}

@media only screen and (min-width: 768px) {
  .grid-eight {
    width: calc(100%/8) !important;
  }
}

@media only screen and (max-width: 992px) {
  .f-grid-four {
    width: 25% !important;
  }
}

@media only screen and (min-width: 992px) {
  .f-grid-eight {
    width: calc(100%/8) !important;
  }
}
/*# sourceMappingURL=style.css.map */